# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

100.0.10.100 boot
100.0.10.101 m1
100.0.10.102 a1
100.0.10.103 a2
100.0.10.104 p1

