# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

103.0.10.99 ext.stratio.dcos ext
103.0.10.100 bt.stratio.dcos bt
103.0.10.101 m1.stratio.dcos m1
103.0.10.102 a1.stratio.dcos m2
103.0.10.103 a2.stratio.dcos m3
103.0.10.104 p1.stratio.dcos a1
103.0.10.105 p2.stratio.dcos p2

